img {
    max-width: 100%;
    max-height: 100%;
}


h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    position: absolute;
    bottom: 0;
}

h3 {
    left: 0;
}

.topNav {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    background-color: #93c1f7;
    overflow: hidden;
}

.video {
    margin: 0 auto;
    text-align: center;
}

.border {
    border-radius: 50%;
    border-color: coral;
    border-width: 2px;
    border-style: solid;
}

.inline {
    display: inline;
}

.alignPfp{
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.background {
    background-size: auto;
    background: url("suitFinal.png") no-repeat 47% 70%;

}

.image {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.smallImage {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.btnImage {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#rightCenter {
    text-align: center;
}

#bottom {
    vertical-align: bottom;
}

#left {
    text-align: left;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}