<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<title>Image gallery</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="static/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
  <!--custom css file-->
    <link rel="stylesheet" href="static/css/custom.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="static/css/style.css" /><!-- End layout styles -->
    <link rel="shortcut icon" href="static/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex align-items-center">
            <a class="brand-logo" href= "{{ url_for('dashboard') }}">
              <img src="static/logo.png" alt="logo" class="logo-dark"/>
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
          <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Doorbells registered to this user</h5>
          <ul class="navbar-nav navbar-nav-right ml-auto">
            <!--<form class="search-form d-none d-md-block" action="#">
              <i class="icon-magnifier"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
            <li class="nav-item"><a href="#" class="nav-link"><i class="icon-basket-loaded"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="icon-chart"></i></a></li>-->
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator message-dropdown" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="icon-speech"></i>
                <span class="count">7</span>
              </a>
             
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="static/db/3/output.png" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="static/db/3/output.png" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="static/db/3/output.png" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle ml-2" src="static/db/3/output.png" alt="Profile image"> <span class="font-weight-normal"> Henry Klein </span></a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="" alt="Profile image">
                  <p class="mb-1 mt-3">Allen Moreno</p>
                  <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
                </div>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-speech text-primary"></i> Messages</a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-energy text-primary"></i> Activity</a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i> FAQ</a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              
            <!--
            <li class="nav-item nav-category">
              <span class="nav-link">Dashboard</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <span class="menu-title">Dashboard</span>
                <i class="icon-screen-desktop menu-icon"></i>
              </a>
            </li>
            -->
            <!--change from here-->
      <li class="nav-item nav-category"><span class="nav-link">UI Elements</span></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('video') }}">
                <span class="menu-title">Videos</span>
                <i class="icon-globe menu-icon"></i>
              </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('image') }}">
                <span class="menu-title">Pictures</span>
                <i class="icon-book-open menu-icon"></i>
              </a>
            </li>
            <li class="nav-item active">
              
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Manage Doorbells</span>
                <i class="icon-book-open menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{{ url_for('cards') }}">View</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{{ url_for('addDoorbell') }}">Add</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="static/pages/charts/chartist.html">
                <span class="menu-title">Statistics</span>
                <i class="icon-chart menu-icon"></i>
              </a>
            </li>
          </li>
          </ul>
        </nav>


<style>
    figure {
      margin: 15px 0;
    }
  
    figcaption {
      text-align: center;
    }
  
    .grayscale {
      filter: grayscale(0);
    }
  
    .grayscale:hover {
      filter: grayscale(50%)
    }
  </style>
</head>
<body>
<div class="main-panel">
<div class="container-fluid">
<!--<div class ="titleContainer">
<h1 class="text-center">All Doorbells registered to this user</h1>
</div> -->


<div style="display:flex; flex-direction: column;">
<div style="display:flex; flex-direction: row;">
{% for doorbell in name %}
<!--cards-->
<a href="{{ url_for('doorbell',id=3) }}">
<div class="card m-2" class = "card">
  <div class="card-body card-colour">
    <h2 class="card-title">{{ doorbell }}</h2>
    <img style="width: 50px; float: right;" src='{{ pic[loop.index0] }}'>
    <h3 class="card-subtitle text-muted">{{ ip[loop.index0]}}</h3>
    <p class="card-text">Current State:</p>
    <h3 class="card-subtitle text-muted">{{ date[loop.index0]}}</h3>
    
  </div>
</div>
</a>
<!--cards-->
{% endfor %}
</div>
<a href="{{ url_for('image') }}" class="text-center">
  <button class="btn btn-primary btn-lg font-weight-medium auth-form-btn">Show All Streams</button>
</a>
</div>

</div>
</div>
<script src="static/vendors/js/vendor.bundle.base.js"></script>
</body>
</html>