{% extends 'default_e_bell.html' %}

{% set nav_title='Alerts' %}
{% set have_content=alerts|length > 0 %}
{% set nothing_message='You don\'t have any alerts.' %}

{% block e_bell_content %}
    <div class="d-flex flex-wrap justify-content-evenly" id="alerts-container">
        {% for alert in alerts %}
            <div class="card card-hover card-width m-2 text-white {% if alert.type == 1 %} card-hover-grey{% elif alert.type == 2 %} card-hover-green{% elif alert.type == 3 %} card-hover-purple{% else %} card-hover-red{% endif %}"
                 id="alert-{{ alert.id }}">
                {% if not alert.checked %}
                    <img alt="Alert not checked icon"
                         class="position-absolute top-0 end-0"
                         data-checked
                         src="{{ url_for('static', filename='alert.png') }}"
                         width="50"
                         height="50">
                {% endif %}
                {% if alert.mimetype == 'video/mp4' %}
                    <video class="card-image-recenter"
                           controls
                           src="{{ url_for('get-resource', filename=alert.filename) }}"
                           type="{{ alert.mimetype }}"
                           width="320"
                           height="240">
                    </video>
                {% else %}
                    <img alt="Alert image {{ alert.filename }}"
                         class="card-image-recenter"
                            {% if alert.type == 1 or alert.type == 2 %}
                         src="{{ url_for('static', filename='announcement.png') }}"
                            {% else %}
                         src="{{ url_for('get-resource', filename=alert.filename) }}"
                            {% endif %}
                         type="{{ alert.mimetype }}"
                         width="320"
                         height="240">
                {% endif %}
                <div class="card-body text-center">
                    <!--
                        1 - System
                        2 - NewBell
                        3 - Bell
                        4 - Movement
                    -->
                    <h2 class="card-title text-wrap">{{ alert.message }}</h2>
                    <h4 class="card-subtitle">{{ alert.time }}</h4>
                    {% if alert.notes %}
                        <p class="card-text text-muted">{{ alert.notes }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-end mt-5 me-2">
        <button class="btn btn-primary"
                {% if have_content %}style="display: block;"{% endif %}
                type="button">Mark all as Read
        </button>
    </div>
    <div class="popup-pic" id="popup-container">
        <span id="popup-pic-close-button" onclick="closePopup()">&times;</span>
        <!--suppress RequiredAttributes -->
        <img alt="Bigger image selected by user" id="popup-image">
    </div>
{% endblock %}


{% block scripts %}
    <script>
        //Popup
        const popup = document.getElementById('popup-container');

        function closePopup() {
            popup.style.display = 'none';
        }

        const popupImage = document.getElementById('popup-image');

        function openPopup(src) {
            popupImage.src = src;
            popup.style.display = 'block';
        }
    </script>
    <script>
        //Mark alerts
        function markAlertsChecked() {
            if (lastAlertId === 0) {
                //todo maybe add a message
                return;
            }

            const formAlertId = new FormData();
            formAlertId.append('last-alert-id', lastAlertId);
            fetch('{{ url_for("alerts") }}', {
                body: formAlertId,
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error while marking alerts: ${data.error}`);
                        alert(`Error while marking alerts. ${data.error}`);
                        return;
                    }

                    console.log(data);
                    //todo something
                })
                .catch(error => {
                    console.error(`Error while marking alerts: ${error}`);
                    alert(`Error while marking alerts. ${error}`);
                });
        }
    </script>
    <script>
        //Alerts
        const alertsElements = {};
        {% for alert in alerts %}
            alertsElements[{{ alert.id }}] = document.getElementById('alert-{{ alert.id }}');
        {% endfor %}

        const alertsPageContainer = document.getElementById('alerts-container');

        function createAlertContainer(alert) {

        }

        function editAlertContainer(alert, alertContainer) {
            if (!alert.checked) {
                return;
            }

            const img = alertContainer.getElementsByTagName('img')[0];
            if (!img.hasAttribute('data-checked')) {
                return;
            }

            alertContainer.removeChild(img);
        }

        const baseNewAlertsUrl = '{{ url_for('get-new-alerts', current_alert_id='-1') }}';
        let lastUncheckedAlertId = 0;

        function getNewAlerts() {
            fetch(baseNewAlertsUrl.replace('-1', lastUncheckedAlertId))
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error getting alerts: ${data.error}`);
                        return;
                    }

                    let last = -1;
                    data.alerts.forEach((alert) => {
                        const alertContainer = alertsElements[alert.id];
                        if (alertContainer === undefined) {
                            alertsElements[alert.id] = createAlertContainer(alert);
                        } else {
                            editAlertContainer(alert, alertContainer);
                        }

                        if (last === -1 && !alert.checked) {
                            last = alert.id - 1;
                        }
                    });

                    if (last >= 0) {
                        lastUncheckedAlertId = last;
                    } else {

                        lastUncheckedAlertId = data.lastAlertId;
                    }
                })
                .catch(error => console.error(`Error calling get-new-alerts: ${error}`));
        }

        window.addEventListener('load', () => setInterval(getNewAlerts, 5000));
    </script>
{% endblock %}