{% extends 'default_e_bell.html' %}

{% set nav_title='Doorbells registered to this user' %}

{% block e_bell_content %}
<div class="boxy">
    <button type="button" class="mark-btn vertical-center" onclick="markRead()">Mark all as read</button>
</div>
    <div class="d-flex flex-wrap justify-content-around" style="overflow-y:scroll;">
        {% set mostRecent = dates[0] %}
        {% for type in types %}
            {% if 0 == type %}
                <!--system alert-->
                <div class="card m-2" class = "card">
                    <div class="card-body card-hover card-hover-grey">
                      {% if checks[loop.index0] == false %}
                      <img style="width: 50px; float: right;" src="{{ url_for('static', filename='newIcon.png') }}">
                      {% endif %}
                      <h2 class="card-title">System Announcement</h2>
                      <h4>Message</h4>
                      <img style="width: 50px; float: right;" src="{{ url_for('static', filename='announcement.png') }}">
                      <h3 class="card-subtitle text-muted">{{ dates[loop.index0]}}</h3>                    
                    </div>
                  </div>
            {% elif 1 == type %}
                <!--bell rang-->
                <div class="card m-2" class = "card" style="width: 250px;">
                    <div class="card-body card-hover card-hover-purple">
                      {% if checks[loop.index0] == false %}
                      <img style="width: 50px; float: right;" src="{{ url_for('static', filename='newIcon.png') }}">
                      {% endif %}
                      <h2 class="card-title">{{ doorbells[loop.index0] }}</h2>
                      <h4>Bell Was Rang</h4>
                      <h3 class="card-subtitle text-muted">{{ dates[loop.index0]}}</h3> 
                      <img style="width: 50px; float: right;" src='{{ paths[loop.index0] }}'>                   
                    </div>
                  </div> 
            {% else %}    
                <!--movimento detetado-->
                <div class="card m-2" class = "card">
                    <div class="card-body card-hover card-hover-red">
                      {% if checks[loop.index0] == false %}
                      <img style="width: 50px; float: right;" src="{{ url_for('static', filename='newIcon.png') }}">
                      {% endif %}
                      <h2 class="card-title">{{ doorbells[loop.index0] }}</h2>
                      <h4>Movement Detected</h4>
                      <img style="width: 50px; float: right;" src='{{ paths[loop.index0] }}'>
                      <h3 class="card-subtitle text-muted">{{ dates[loop.index0]}}</h3>                    
                    </div>
                  </div>        
            {% endif %}  
        {% endfor %}
    </div>


    <div class="popup-pic" id = "big1">
        <span id="span1">&times;</span>
        <img src='{{ paths[0] }}' alt="">
      </div>
      <div class="popup-pic" id = "big2">
          <span id="span2">&times;</span>
          <video src='{{ paths[0] }}' alt="" controls>
      </div>
  
        <script>
            
            document.querySelectorAll('.card-title img').forEach(image =>{
              image.onclick = () =>{
                  if(image.getAttribute('src').includes(".mp4")){
                    document.getElementById('big2').style.display = 'block';
                    document.querySelector('.popup-pic video').src = image.getAttribute('src');
                  }else{
                    document.getElementById('big1').style.display = 'block';
                    document.querySelector('.popup-pic img').src = image.getAttribute('src');
                  }
              }             
            });

  
            document.getElementById('span1').onclick = () =>{
              document.getElementById('big1').style.display = 'none';
            };
            document.getElementById('span2').onclick = () =>{
              document.getElementById('big2').style.display = 'none';
            };
            /*
            function markRead(){
                var date = {{ mostRecent|safe }} //get most recent from jinja2, then update var with every request for notifications?
                //needs a post here to tell server to mark all notifications up to older than (and as old as) "date"
            }*/
        

    </script>
    
{% endblock %}