{% extends 'default_e_bell.html' %}

{% set nav_title='Alerts' %}
{% set have_content=alerts|length > 0 %}
{% set nothing_message='You don\'t have any alerts.' %}

{% block e_bell_content %}
    <div id="alerts-page-container" style="display:none;">
        <br/>
        <h1 class="h1 text-center text-dark w-100">Alerts</h1>
        <br/>
        <div class="justify-content-evenly row" id="alerts-container">
        </div>
    </div>
    <div class="popup-pic" id="popup-container">
        <span id="popup-pic-close-button" onclick="closePopup()">&times;</span>
        <!--suppress RequiredAttributes -->
        <img alt="Bigger image selected by user" id="popup-image">
    </div>

    <div class="boxy">
        <button type="button" class="mark-btn vertical-center btn-clic" onclick="markRead()">Mark all as Read</button>
    </div>
    <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 5px;">
        {% for type in types %}
            {% if 1 == type %}
                <!--system alert-->
                <div class="card m-2" class = "card">
                    <button type="button" onclick="bigMsg(this)" class="card-body card-hover card-hover-grey">
                      {% if checks[loop.index0] == false %}
                      <img style="width: 50px; float: right;" src="{{ url_for('static', filename='alert.png') }}">
                      {% endif %}
                      <h2 class="card-title">Announcement</h2>
                      <h4>System Message</h4>
                      <p hidden> {{ notes [loop.index0]}}</p>
                      <h3 class="card-subtitle text-muted date">{{ dates[loop.index0] }}</h3> 
                      <img class = "target" style="width: 50px; float: right;" src="{{ url_for('static', filename='announcement.png') }}">                  
                       
                      
                    </button>
                  </div>
            {% elif 2 == type %}
                  <!--system alert-->
                <div class="card m-2" class = "card">
                    <button type="button" onclick="bigMsg(this)" class="card-body card-hover card-hover-green">
                      {% if checks[loop.index0] == false %}
                      <img style="width: 50px; float: right;" src="{{ url_for('static', filename='alert.png') }}">
                      {% endif %}
                      <h2 class="card-title">Doorbell Added</h2>
                      <h4>{{ doorbells[loop.index0] }} was Added</h4>
                      <p hidden> {{ notes [loop.index0]}}</p>
                      <h3 class="card-subtitle text-muted date">{{ dates[loop.index0] }}</h3> 
                      <img class = "target" style="width: 50px; float: right;" src="{{ url_for('static', filename='camera.png') }}">                  
                       
                      
                    </button>
                </div>
            {% elif 3 == type %}
                <!--bell rang-->
                <div class="card m-2" class = "card">
                    <button type="button" onclick="bigPic(this)" class="card-body card-hover card-hover-purple">
                        {% if checks[loop.index0] == false %}
                            <img style="width: 50px; float: right;" src="{{ url_for('static', filename='alert.png') }}">
                        {% endif %}
                        <h2 class="card-title">{{ doorbells[loop.index0] }}</h2>
                        <h4>Bell Was Rang</h4>
                        <h3 class="card-subtitle text-muted date">{{ dates[loop.index0] }}</h3>
                        {% if ".mp4" in paths[loop.index0] %}
                            <video loop autoplay class="target" style="width: 50px; float: right;"
                                   src="{{ paths[loop.index0] }}">
                        {% else %}
                            <img class="target" style="width: 50px; float: right;" src='{{ paths[loop.index0] }}'>
                        {% endif %}

                    </button>
                </div>
            {% else %}
                <!--movimento detetado-->
                <div class="card m-2" class="card">
                    <button type="button" onclick="bigPic(this)" class="card-body card-hover card-hover-red">
                        {% if checks[loop.index0] == false %}
                            <img style="width: 50px; float: right;" src="{{ url_for('static', filename='alert.png') }}">
                        {% endif %}
                        <h2 class="card-title">{{ doorbells[loop.index0] }}</h2>
                        <h4>Movement Detected</h4>
                        <h3 class="card-subtitle text-muted date">{{ dates[loop.index0] }}</h3>
                        {% if ".mp4" in paths[loop.index0] %}
                            <video loop autoplay class="target" style="width: 50px; float: right;"
                                   src="{{ paths[loop.index0] }}">
                        {% else %}
                            <img class="target" style="width: 50px; float: right;" src='{{ paths[loop.index0] }}'>
                        {% endif %}


                    </button>
                </div>

            {% endif %}
        {% endfor %}
    </div>




{% endblock %}


{% block scripts %}
    <script>
        const alertsPageContainer = document.getElementById('alerts-page-container');
    </script>



    <script>
        //Popup
        const popup = document.getElementById('popup-container');

        function closePopup() {
            popup.style.display = 'none';
        }

        const popupImage = document.getElementById('popup-image');

        function openPopup(src) {
            popupImage.src = src;
            popup.style.display = 'block';
        }
    </script>
    <script>
        //Mark alerts
        let lastAlertId = 0;

        function markAlertsChecked() {
            if (lastAlertId === 0) {
                //todo maybe add a message
                return;
            }

            const formAlertId = new FormData();
            formAlertId.append('last-alert-id', lastAlertId.toString());
            fetch('{{ url_for("alerts") }}', {
                body: formAlertId,
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error while marking alerts: ${data.error}`);
                        alert(`Error while marking alerts. ${data.error}`);
                        return;
                    }

                    console.log(data);
                    //todo something
                })
                .catch(error => {
                    console.error(`Error while marking alerts: ${error}`);
                    alert(`Error while marking alerts. ${error}`);
                });
        }
    </script>
{% endblock %}