{% extends 'default_e_bell.html' %}

{% set title='All streams' %}
{% set nav_title='Streams from all doorbells' %}
{% set no_bells=doorbells|length <= 0 %}

{% block e_bell_content %}
    <div class="d-flex flex-wrap justify-content-around">
        {% for doorbell in doorbells %}
            <div class="m-2">
                <figure class="figure">
                    <video
                            width="320"
                            height="240"
                            class="figure-img img-fluid rounded"
                            id="stream-view"
                            {% if doorbell.online == True %}
                            name="stream-view"
                            url="{{ url_for('stream', esp_id=doorbell.id) }}"
                            {% endif %}
                            poster="{{ doorbell.image }}"
                            preload="none"
                            src="{{ url_for('stream', esp_id=doorbell.id) }}">
                    </video>
                    <figcaption class="figure-caption text-center">{{ doorbell.name }}</figcaption>
                    <figcaption class="figure-caption text-center">{{ doorbell.state }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
    <script>
        window.onload = function () {
            const videos = document.getElementsByName("stream-view");
            videos.forEach(video => {
                video.src = video.getAttribute('url');
                video.play();
            });
        }
    </script>
{% endblock %}