{% extends 'default_e_bell.html' %}

{% set nav_title='Alerts' %}

{% block e_bell_content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 image-container">
            {% for file in doorbell_files %}
                <div class="col-sm-6 col-md-4 col-lg-3 image-container">
                    <figure>
                        <div class="pic image">
                            <object
                                    width="320"
                                    height="240"
                                    class="img-fluid"
                                    data="{{ url_for('get-resource', filename=file.filename) }}"
                                    type="{{ file.mimetype }}">
                            </object>
                        </div>
                        <figcaption>
                            {{ file.name }}
                            {{ file.time }}
                        </figcaption>
                    </figure>


                </div>
            {% endfor %}
        </div>

        <div class="popup-pic" id="big1">
            <span id="span1">&times;</span>
            <img src="{{ doorbell_files[0] }}" alt="">
        </div>
        <div class="popup-pic" id="big2">
            <span id="span2">&times;</span>
            <video src="{{ doorbell_files[0] }}" alt="" controls></video>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.querySelectorAll('.image-container img').forEach(image => {
            image.onclick = () => {
                document.getElementById('big1').style.display = 'block';
                document.querySelector('.popup-pic img').src = image.getAttribute('src');
            }
        });


        document.querySelectorAll('.image-container video').forEach(vid => {
            vid.onclick = () => {
                document.getElementById('big2').style.display = 'block';
                document.querySelector('.popup-pic video').src = vid.getAttribute('src');
            }
        });

        document.getElementById('span1').onclick = () => {
            document.getElementById('big1').style.display = 'none';
        };
        document.getElementById('span2').onclick = () => {
            document.getElementById('big2').style.display = 'none';
        };
    </script>
{% endblock %}