{% if not name %}
    {% set name = self._TemplateReference__context.name|replace('.html', '')|capitalize %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            {{ name }}
        {% endif %}
    </title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
    {% block main_nav %}{% endblock %}

    {% block content %}{% endblock %}
    <a class="border d-none rounded d-inline scroll-to-top" href="#page-top">
        <i class="bi bi-caret-up-fill"></i>
    </a>
</div>
<script crossorigin="anonymous" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='theme.js') }}"></script>
{% block template_scripts %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>