{% extends 'default_e_bell.html' %}

{% block e_bell_content %}
    {% block pre_capture %}{% endblock %}
    <div id="captures-page-container" style="display:none;">
        <br/>
        <h1 class="h1 text-center text-dark w-100">Doorbell captures</h1>
        <br/>
        <div class="justify-content-evenly row" id="captures-container">
        </div>
    </div>
    <div class="modal" id="request-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="request-modal-title">Doorbell action</h5>
                </div>
                <div class="modal-body">
                    <p class="text-center" id="request-modal-subtitle">Modal body text goes here.</p>
                    <div class="text-center" id="modal-body-container">
                        <img alt="Bigger image selected by user"
                             class="img-fluid"
                             id="request-modal-image"
                             width="240"
                             height="320"
                             src="">
                        <video
                                class="img-fluid"
                                controls
                                id="request-modal-video"
                                width="240"
                                height="320"></video>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% block pos_capture %}{% endblock %}
{% endblock %}

{% block template_scripts %}
    {{ super() }}
    <!--suppress JSDuplicatedDeclaration, JSUnresolvedVariable -->
    <script>
        //Captures
        const capturesContainer = document.getElementById('captures-container');
        const baseResourceUrl = '{{ url_for('get-resource', filename='filename') }}';

        function createCaptureContainer(capture) {
            const cpName = document.createElement('h4');
            cpName.className = 'card-title mt-3 text-center text-dark';
            cpName.innerText = capture.message;

            const cpDate = document.createElement('p');
            cpDate.className = 'mt-3 text-center text-dark';
            const cpTime = getTimeString(capture.time);
            cpDate.innerText = cpTime;

            let cpFile;
            const fileSrc = baseResourceUrl.replace('filename', capture.filename);
            if (capture.mimetype === 'video/mp4') {
                cpFile = document.createElement('video');
                cpFile.className = 'my-3 mx-auto';
                cpFile.controls = true;
            } else {
                cpFile = document.createElement('img');
                cpFile.alt = `Capture img ${capture.filename}`;
                cpFile.className = 'img-fluid my-3 mx-auto';
            }
            cpFile.onclick = () => openPopup(capture.message, cpTime, fileSrc, capture.mimetype);
            cpFile.src = fileSrc;
            cpFile.type = capture.mimetype;
            cpFile.width = 240;
            cpFile.height = 320;

            const captureContainer = document.createElement('div');
            captureContainer.className = 'border-2 border-primary card card-width col-sm-auto mb-3';
            captureContainer.appendChild(cpName);
            captureContainer.appendChild(cpDate);
            captureContainer.appendChild(cpFile);

            capturesContainer.insertBefore(captureContainer, capturesContainer.firstChild);
        }

        {% if doorbell %}
            const baseNewCapturesUrl = '{{ url_for('get-new-doorbell-captures', uuid=doorbell.uuid, current_capture_id='-1') }}';
        {% else %}
            const baseNewCapturesUrl = '{{ url_for('get-new-user-captures', current_capture_id='-1') }}';
        {% endif %}
        const captureIds = [];
        const capturesPageContainer = document.getElementById('captures-page-container');
        let lastCaptureId = 0;

        function getCaptures() {
            fetch(baseNewCapturesUrl.replace('-1', lastCaptureId))
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error getting doorbells: ${data.error}`);
                        return;
                    }

                    data.captures.forEach((capture) => {
                        if (captureIds.includes(capture.id)) {
                            return;
                        }

                        createCaptureContainer(capture);
                        captureIds.push(capture.id);
                    });

                    if (lastCaptureId === 0 && data.lastCaptureId > 0) {
                        capturesPageContainer.style.display = 'block';
                    }

                    if (data.lastCaptureId > lastCaptureId) {
                        lastCaptureId = data.lastCaptureId;
                    }
                })
                .catch(error => console.error(`Error calling get-new-captures: ${error}`));
        }
    </script>
    <script>
        //Modal
        const requestModal = new bootstrap.Modal(document.getElementById('request-modal'));
        const requestModalTitle = document.getElementById('request-modal-title');
        const requestModalSubtitle = document.getElementById('request-modal-subtitle');
        const requestModalBodyContainer = document.getElementById('modal-body-container');
        const requestModalImage = document.getElementById('request-modal-image');
        const requestModalVideo = document.getElementById('request-modal-video');

        function openPopup(title, subtitle, src, type) {
            requestModalTitle.innerText = title;
            requestModalSubtitle.innerText = subtitle;
            while (requestModalBodyContainer.lastElementChild) {
                requestModalBodyContainer.removeChild(requestModalBodyContainer.lastElementChild);
            }

            if (type === 'video/mp4') {
                requestModalVideo.src = src;
                requestModalBodyContainer.appendChild(requestModalVideo);
            } else {
                requestModalImage.src = src;
                requestModalBodyContainer.appendChild(requestModalImage);
            }
            requestModal.show();
        }
    </script>
    <script>
        //OnLoad
        document.addEventListener('refresh', () => getCaptures());
        window.addEventListener('load', () => {
            getCaptures();
            setInterval(getCaptures, 5000);
        });
    </script>
{% endblock %}