{% extends 'default_e_bell.html' %}

{% set nav_title='Doorbell' %}

{% block e_bell_content %}
<div class="main">
    <div class="master" style = "display: flex">
        <div class="container-form">  
            <div class="header">
                <h2>Stream</h2>
            </div>
            <div class="stream-box">
                <video src= "{{ url_for('static', filename='ronaldo.mp4') }}" controls></video>
            </div>
            <form class="form1">
                <div class="horizontal1" style="margin-bottom: 10px;">
                    <button type="button" class="btnCyan" onclick="takePic()">Take Picture</button>
                    <button type="button" class="btnViolet" onclick="takeVid()">Save Recording</button>
                </div>
            </form>

        </div>
        <div class="container-form">
            <div class="header">
                <h2>Details</h2>
            </div>
            <form id="form" class="form2">
                <div class="form-control">
                    <label for="username">Doorbell Name</label>
                    <input type="text" placeholder="{{ name }}" id="username" />
                </div>
                <div class="form-control" id="targeNode">
                    <label for="username">Emails to Alert</label>
                    <textarea name="message" rows="3" cols="30" id="textarea">
                        {% for email in emails %}
{{email}}
                        {% endfor %}
                </textarea> 
                </div>
                <div class="form-control">
                    <label for="username">Password Confirmation</label>
                    <input type="password" placeholder="Password" id="password"/>
                </div>
                <div class="horizontal2">
                    <button type="button" class="btnGreen" onclick="getText();">Submit</button> <!-- type button to not submit -->
                    <button type="button" class="btnRed" onclick="rebuild()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    


    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 image-container">
          {% for path in paths %}
            <div class="col-sm-6 col-md-4 col-lg-3 image-container">
          
              <figure>
                
                  {% if ".mp4" in types[loop.index0] %}
                    <div class="pic image"><video src='{{ path }}' class="img-thumbnail"></div>
                  {% elif types[loop.index0] == "vid" %}
                    <div class="pic image"><img src='{{ path }}' class="img-thumbnail"></div>                
                  {% endif %}  
                  <figcaption>
                    {{ doorbells[loop.index0]}}</br>
                    {{ dates[loop.index0]}}
                  </figcaption>
              </figure>
      
      
            </div>
          {% endfor %}
          </div>



    </div>
</div>
<div class="popup-pic" id = "big1">
    <span id="span1">&times;</span>
    <img src='{{ paths[0] }}' alt="">
  </div>
  <div class="popup-pic" id = "big2">
      <span id="span2">&times;</span>
      <video src='{{ paths[0] }}' alt="" controls>
  </div>

    <script>
    //IMGs
    document.querySelectorAll('.image-container img').forEach(image =>{
        image.onclick = () =>{
        document.getElementById('big1').style.display = 'block';
        document.querySelector('.popup-pic img').src = image.getAttribute('src');
        }             
        });
    

    document.querySelectorAll('.image-container video').forEach(vid =>{
        vid.onclick = () =>{
        document.getElementById('big2').style.display = 'block';
        document.querySelector('.popup-pic video').src = vid.getAttribute('src');
        }      
      });

    document.getElementById('span1').onclick = () =>{
        document.getElementById('big1').style.display = 'none';
    };
    document.getElementById('span2').onclick = () =>{
        document.getElementById('big2').style.display = 'none';
    };


    //Btns
    function takePic(){
        //request server take a pic, wait and refresh?
    }
    function takePic(){
        //request server save a video, wait and refresh?
    }

    function rebuild(){
        //reload page
        window.location.reload(); //needs testing
        return false; //needs to return false?
    }


   
    function getText(){
        if (document.getElementById("textarea").value == name.defaultValue && document.getElementById("username").value) //this checks for changes to form, needs testing
            return
        var text = document.getElementById("textarea").value;
        var words = text.split(/\r?\n/);       
        for (i in words) {
            if(!validateEmail(words[i]))
                creatAlert(words[i])
                return;
        }
    }
    //Alert

    function validateEmail (email){ //this function is not working, always returns false
        console.log(email)
        return email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/);
        };

    function creatAlert(email){
        var node = document.getElementById("textarea"),
        ele = document.createElement("div");
        ele.classList.add("alert")
        ele.style.backgroundColor = "#F44336"
        ele.style.color = "#FFFFFF"
        ele.innerHTML = "<span class='closebtn'>&times;</span>\nInvalid Email: " + email
        node.parentNode.parentNode.insertBefore(ele, document.getElementById("targeNode").nextSibling);
        document.querySelector(".closebtn").addEventListener("click", gone)
    } 

    function gone(){
        div = document.querySelector(".alert")
        div.parentNode.removeChild(div)  
    }


    //missing a post with the new data that sends password to comfirm identity
</script>

{% endblock %}