{% extends 'default_e_bell.html' %}

{% set nav_title='Doorbells' %}
{% set have_content=doorbells|length > 0 %}
{% set nothing_message='You don\'t have any doorbells.' %}

{% block e_bell_content %}
    <div class="d-flex flex-wrap justify-content-evenly" id="doorbells-container">
        {% for doorbell in doorbells %}
            <div class="card card-hover card-hover-cyan card-width m-4" id="doorbell-{{ doorbell.uuid }}"
                 onclick="redirectToDoorbell({{ doorbell.uuid }})">
                <img alt="Last image from stream for {{ doorbell.name }}"
                     class="figure-img img-fluid card-image-recenter"
                     src="{{ doorbell.image }}"
                     width="320"
                     height="240"/>
                <div class="card-body">
                    <h2 class="card-title">{{ doorbell.name }}</h2>
                    <p class="card-text">Current State:</p>
                    <h3 class="card-subtitle text-muted">{{ doorbell.state }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <!--suppress JSUnresolvedVariable -->
    <script>
        //Update doorbells container
        const doorbellsRedirectUrl = '{{ url_for('doorbell', uuid='-1') }}';

        function redirectToDoorbell(uuid) {
            location.href = doorbellsRedirectUrl.replace('-1', uuid);
        }

        const doorbells = {};
        {% for doorbell in doorbells %}
            doorbells[{{ doorbell.uuid }}] = document.getElementById('doorbell-{{ doorbell.uuid }}');
        {% endfor %}

        const doorbellsContainer = document.getElementById('doorbells-container');

        function createDoorbellContainer(doorbell) {
            const dName = document.createElement('h2');
            dName.className = 'card-title';
            dName.innerText = doorbell.name;

            const dStateLabel = document.createElement('p');
            dStateLabel.className = 'card-text';
            dStateLabel.innerText = 'Current State:';

            const dState = document.createElement('h3');
            dState.className = 'card-subtitle text-muted';
            dState.innerText = doorbell.state;

            const dInfoDiv = document.createElement('div');
            dInfoDiv.className = 'card-body';
            dInfoDiv.appendChild(dName);
            dInfoDiv.appendChild(dStateLabel);
            dInfoDiv.appendChild(dState);

            const dImg = document.createElement('img');
            dImg.alt = `Last image from stream for ${doorbell.name}`;
            dImg.className = 'figure-img img-fluid';
            dImg.id = 'Doorbell Image';
            dImg.src = doorbell.image;
            dImg.width = 320;
            dImg.height = 240;

            const dContainer = document.createElement('div');
            dContainer.className = 'card card-hover card-hover-cyan m-4';
            dContainer.id = `doorbell-${doorbell.uuid}`;
            dContainer.appendChild(dImg);
            dContainer.appendChild(dInfoDiv);

            doorbellsContainer.appendChild(dContainer);
            return dContainer;
        }

        function editDoorbellContainer(doorbell, doorbellContainer) {
            const dImg = doorbellContainer.getElementsByTagName('img')[0];
            dImg.alt = `Last image from stream for ${doorbell.name}`;

            const dInfoDiv = doorbellContainer.getElementsByTagName('div')[0];
            const dName = dInfoDiv.getElementsByTagName('h2')[0];
            dName.innerText = doorbell.name;

            const dState = dInfoDiv.getElementsByTagName('h3')[0];
            dState.innerText = doorbell.state;
        }

        const nothingToShow = document.getElementById('nothing-to-show');

        function getDoorbellStat() {
            fetch('{{ url_for('get-doorbells-info') }}')
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error getting doorbells: ${data.error}`);
                        return;
                    }

                    const oldCount = Object.keys(doorbells).length;
                    data.doorbells.forEach((doorbell) => {
                        const doorbellContainer = doorbells[doorbell.uuid];
                        if (doorbellContainer === undefined) {
                            doorbells[doorbell.uuid] = createDoorbellContainer(doorbell);
                        } else {
                            editDoorbellContainer(doorbell, doorbellContainer);
                        }
                    });

                    if (oldCount === 0 && Object.keys(doorbells).length > 0) {
                        nothingToShow.style.display = 'none';
                    }
                })
                .catch(error => console.error(`Error calling get-doorbells-info: ${error}`));
        }

        document.addEventListener('refresh', () => getDoorbellStat());
        window.addEventListener('load', () => setInterval(getDoorbellStat, 5000));
    </script>
{% endblock %}