{% extends 'default_e_bell.html' %}

{% set nav_title='Doorbell' %}

{% block e_bell_content %}
    <div class="align-items-baseline d-flex flex-wrap justify-content-evenly py-4">
        <div class="card doorbell-detail-container mx-2 my-3">
            <div class="card-body doorbell-detail-title">
                <h2 class="card-title text-center">Stream</h2>
            </div>
            <div class="align-self-center card-img m-3 w-auto">
                <object
                        width="320"
                        height="240"
                        class="img-fluid"
                        data="{{ doorbell.image }}"
                        {% if doorbell.online == True %}
                        data-url="{{ url_for('stream', uuid=doorbell.uuid) }}"
                        id="stream-view"
                        {% endif %}
                        type="image/jpeg">
                </object>
            </div>
            <div class="card-body d-flex flex-wrap justify-content-evenly text-center">
                <button class="border-0 btn btn-cyan px-4 py-2 text-nowrap text-white w-auto" onclick="takePic()"
                        type="button">
                    Take Picture
                </button>
                <button class="border-0 btn btn-violet px-4 py-2 text-nowrap text-white w-auto" onclick="openDoor()"
                        type="button">
                    Open Door
                </button>
            </div>
        </div>
        <div class="card doorbell-detail-container mx-2 my-3">
            <div class="card-body doorbell-detail-title">
                <h2 class="card-title text-center">Details</h2>
            </div>
            <div class="card-body">
                <form id="update-form" onreset="return resetForms();" onsubmit="return sendForms();" method="POST">
                    <div class="form-group">
                        <label for="doorbell-name">Doorbell Name</label>
                        <input autocomplete="on" class="form-control" id="doorbell-name" name="doorbell-name"
                               value="{{ doorbell.name }}" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="alert-emails">Emails to alert</label>
                        <textarea class="form-control text-nowrap"
                                  id="alert-emails"
                                  name="alert-emails"
                                  rows="3">{{ doorbell.emails }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="password">Password Confirmation</label>
                        <input autocomplete="current-password" class="form-control" id="password"
                               placeholder="Password"
                               name="password"
                               type="password">
                    </div>
                    <div class="d-flex flex-wrap justify-content-evenly m-2 mt-4 text-center">
                        <button class="border-0 btn btn-green px-4 py-2 text-nowrap text-white w-auto" type="submit">
                            Submit
                        </button>
                        <button class="border-0 btn btn-red px-4 py-2 text-nowrap text-white w-auto" type="reset">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-none" id="captures-page-container">
        <br/>
        <h1 class="h1 text-center text-dark w-100">Doorbell captures</h1>
        <br/>
        <div class="justify-content-evenly mb-5 row" id="captures-container">
        </div>
    </div>
    <div class="popup-pic" id="popup-container">
        <span id="popup-pic-close-button" onclick="closePopup()">&times;</span>
        <!--suppress RequiredAttributes -->
        <img alt="Bigger image selected by user" id="popup-image">
    </div>
{% endblock %}

{% block scripts %}
    <script>
        //Buttons
        function openDoor() {
            fetch('{{ url_for('open_doorbell', uuid=doorbell.uuid) }}', {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error while opening doorbell: ${data.error}`);
                        alert(`Error while opening doorbell. ${data.error}`);
                        return;
                    }

                    console.debug(`Doorbell opened: ${data}`);
                    //todo set message
                })
                .catch(error => {
                    console.error(`Error while opening doorbell: ${error}`);
                    alert(`Error while opening doorbell. ${error}`);
                });
        }

        function takePic() {
            fetch('{{ url_for('take_picture', uuid=doorbell.uuid) }}', {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error while taking a picture: ${data.error}`);
                        alert(`Error while taking a picture. ${data.error}`);
                        return;
                    }

                    console.debug(`Picture taken: ${data}`);
                    //todo set message
                })
                .catch(error => {
                    console.error(`Error while taking a picture: ${error}`);
                    alert(`Error while taking a picture. ${error}`);
                });
        }
    </script>
    <!--suppress JSUnresolvedVariable -->
    <script>
        //Forms
        const doorbellNameInput = document.getElementById('doorbell-name');
        const doorbellEmailsInput = document.getElementById('alert-emails');
        const doorbellPasswordInput = document.getElementById('password');
        const uuid = {{ doorbell.uuid }};
        let emails = [
            {% for email in doorbell.emails %}
                '{{ email }}',
            {% endfor %}
        ];
        let name = '{{ doorbell.name }}';

        function resetForms() {
            doorbellNameInput.value = name;
            doorbellEmailsInput.value = emails.join('\r\n');
            doorbellPasswordInput.value = '';
            return false;
        }

        const inputTest = document.createElement('input');
        inputTest.type = 'email';

        function validateEmail(email) {
            inputTest.value = email;
            return inputTest.validity.typeMismatch === false;
        }

        function validateForm() {
            const name = doorbellNameInput.value;
            if (!name || !name.trim()) {
                alert('Please enter a name for your doorbell');
                return false;
            }

            const emails = doorbellEmailsInput.value;
            if (!emails || !emails.trim()) {
                alert('Please enter at least one email to alert');
                return false;
            }

            const emailsList = emails.split(/[,;\r\n ]/);
            for (let i = 0; i < emailsList.length; i++) {
                const email = emailsList[i];
                if (!email || !email.trim()) {
                    continue;
                }

                if (!validateEmail(email)) {
                    alert('Please enter a valid email address');
                    return false;
                }
            }

            if (!doorbellPasswordInput.value) {
                alert('Please enter a password');
                return false;
            }

            return true;
        }

        const doorbellUpdateForm = document.getElementById('update-form');

        function sendForms() {
            if (!validateForm()) {
                return false;
            }

            fetch('{{ url_for('doorbell', uuid=doorbell.uuid) }}', {
                body: new FormData(doorbellUpdateForm),
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error while updating doorbell: ${data.error}`);
                        alert(`Error while updating doorbell. ${data.error}`);
                        return;
                    }

                    emails = [];
                    for (let email of data.emails) {
                        emails.push(email);
                    }
                    name = data.name;
                    resetForms();
                })
                .catch(error => {
                    resetForms();
                    console.error(`Error while updating doorbell: ${error}`);
                    alert(`Error while updating doorbell. ${error}`);
                });

            return false;
        }
    </script>
    <!--suppress JSUnresolvedVariable -->
    <script>
        //Captures
        const capturesContainer = document.getElementById('captures-container');
        const baseResourceUrl = '{{ url_for('get-resource', filename='filename') }}';

        function createCaptureContainer(capture) {
            const cpName = document.createElement('h4');
            cpName.className = 'card-title mt-3 text-center text-dark';
            cpName.innerText = capture.name;

            const cpDate = document.createElement('p');
            cpDate.className = 'mt-3 text-center text-dark';
            cpDate.innerText = moment(capture.time).format('LLL');

            let cpFile;
            const fileSrc = baseResourceUrl.replace('filename', capture.filename);
            if (capture.mimetype === 'video/mp4') {
                cpFile = document.createElement('video');
                cpFile.className = "my-3";
                cpFile.controls = true;
                cpFile.src = fileSrc;
                cpFile.type = capture.mimetype;
                cpFile.width = 320;
                cpFile.height = 240;
            } else {
                cpFile = document.createElement('object');
                cpFile.className = "img-fluid my-3";
                cpFile.data = fileSrc;
                cpFile.width = '320';
                cpFile.height = '240';
            }
            cpFile.onclick = () => openPopup(fileSrc);
            cpFile.type = capture.mimetype;

            const captureContainer = document.createElement('div');
            captureContainer.className = 'card border-2 border-primary col-sm-auto mb-3';
            captureContainer.appendChild(cpName);
            captureContainer.appendChild(cpDate);
            captureContainer.appendChild(cpFile);

            capturesContainer.appendChild(captureContainer);
        }

        const baseNewCapturesUrl = '{{ url_for('get-new-captures', current_capture_id='0') }}';
        const captureIds = [];
        const capturesPageContainer = document.getElementById('captures-page-container');
        let lastCaptureId = 0;

        function getCaptures() {
            fetch(baseNewCapturesUrl.replace('0', lastCaptureId))
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error getting doorbells: ${data.error}`);
                        return;
                    }

                    data.captures.forEach((capture) => {
                        if (captureIds.includes(capture.id)) {
                            return;
                        }

                        captureIds.push(capture.id);
                        createCaptureContainer(capture);
                    });

                    if (lastCaptureId === 0 && data.lastCaptureId > 0) {
                        capturesPageContainer.style.display = 'block';
                    }
                    lastCaptureId = data.lastCaptureId;
                })
                .catch(error => console.error(`Error calling get-doorbells-info: ${error}`));
        }
    </script>
    <script>
        //Popup
        const popup = document.getElementById('popup-container');

        function closePopup() {
            popup.style.display = 'none';
        }

        const popupImage = document.getElementById('popup-image');

        function openPopup(src) {
            popupImage.src = src;
            popup.style.display = 'block';
        }
    </script>
    <script>
        //OnLoad and Stream
        const streamElement = document.getElementById('stream-view');
        window.addEventListener('load', () => {
            resetForms();
            getCaptures();
            setInterval(getCaptures, 5000);
            if (streamElement) {
                streamElement.data = streamElement.getAttribute('data-url');
            }
        });
    </script>
{% endblock %}