{% extends 'default_e_bell.html' %}

{% set nav_title='Doorbell' %}

{% block e_bell_content %}
    <div class="align-items-baseline d-flex doorbell flex-wrap justify-content-evenly h-100">
        <div class="card doorbell-detail-container mt-5 mx-2">
            <div class="card-body doorbell-detail-title ">
                <h2 class="card-title text-center">Stream</h2>
            </div>
            <div class="align-self-center card-img w-auto m-3">
                <object
                        width="320"
                        height="240"
                        class="img-fluid"
                        data="{{ doorbell.image }}"
                        {% if doorbell.online == True %}
                        id="stream-view"
                        url="{{ url_for('stream', uuid=doorbell.id) }}"
                        {% endif %}
                        type='image/jpeg'>
                </object>
            </div>
            <div class="card-body d-flex flex-nowrap justify-content-evenly text-center w-auto">
                <button class="border-0 btn btn-cyan p-2 text-white w-35" onclick="takePic()" type="button" >Take Picture</button>
                <button class="border-0 btn btn-violet p-2 text-white w-35" onclick="openDoor()" type="button" >Open Door</button>
            </div>
        </div>
        <div class="card doorbell-detail-container my-5 mx-2">
            <div class="doorbell-detail-title card-body">
                <h2 class="card-title text-center">Details</h2>
            </div>
            <div class="card-body">
                <form action="{{ url_for('doorbell', uuid=doorbell.id) }}" onsubmit="preventDefault()" method="POST">
                    <div class="form-group">
                        <label for="doorbell-name">Doorbell Name</label>
                        <input class="form-control" id="doorbell-name" name="doorbell-name"
                               placeholder="{{ doorbell.name }}" value="{{ doorbell.name }}" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="alert-emails">Emails to alert</label>
                        <textarea class="form-control"
                                  id="alert-emails"
                                  name="alert-emails">{{ doorbell.emails }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="password">Password Confirmation</label>
                        <input class="form-control" id="password" placeholder="Password" name="password"
                               type="password">
                    </div>
                    <div class="d-flex flex-nowrap justify-content-evenly m-2 mt-4 text-center">
                        <button class="border-0 btn btn-green p-2 text-white w-25" type="submit">Submit</button>
                        <button class="border-0 btn btn-red p-2 text-white w-25" type="reset">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 image-container">
               {# {% for path in paths %} #}
            <div class="col-sm-6 col-md-4 col-lg-3 image-container">
              <figure>
                  {# {% if ".mp4" in path %} #}
                    <div class="pic image"><video src='{# {{ path }} #}' class="img-thumbnail"></div>
                  {# {% else %} #}
                    <div class="pic image"><img src='{# {{ path }} #}' class="img-thumbnail"></div>
                  {# {% endif %}   #}
                  <figcaption>
                    {# {{ doorbells[loop.index0]}} #}</br>
                    {# {{ dates[loop.index0]}} #}
                  </figcaption>
              </figure>


            </div>
          {# {% endfor %} #}
            </div>-->
    </div>
    <div class="popup-pic" id="popup-container">
        <span id="popup-pic close-button">&times;</span>
        <img alt="Bigger image selected by user" id="popup-image" src="{{ doorbell.image }}">
    </div>


    <script>
        //IMGs
        document.querySelectorAll('.image-container img').forEach(image => {
            image.onclick = () => {
                document.getElementById('big1').style.display = 'block';
                document.querySelector('.popup-pic img').src = image.getAttribute('src');
            }
        });


        document.querySelectorAll('.image-container video').forEach(vid => {
            vid.onclick = () => {
                document.getElementById('big2').style.display = 'block';
                document.querySelector('.popup-pic video').src = vid.getAttribute('src');
            }
        });

        document.getElementById('span1').onclick = () =>{
            document.getElementById('big1').style.display = 'none';
        };
        document.getElementById('span2').onclick = () =>{
            document.getElementById('big2').style.display = 'none';
        };

        function getText() {
            if ((document.getElementById("textarea").value == name.defaultValue && document.getElementById("username").value) || document.getElementById("password").value) //this checks for changes to form, needs testing
                return
            var text = document.getElementById("textarea").value;
            var words = text.split(/\r?\n/);
            for (i in words) {
                if (!validateEmail(words[i]))
                    creatAlert(words[i])
                return;
        }
    }




    //Alert

    function validateEmail (email){ //this function is not working, always returns false
        console.log(email)
        return email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/);
        };

    function creatAlert(email){
        var node = document.getElementById("textarea"),
        ele = document.createElement("div");
        ele.classList.add("alert")
        ele.style.backgroundColor = "#F44336"
        ele.style.color = "#FFFFFF"
        ele.innerHTML = "<span class='closebtn'>&times;</span>\nInvalid Email: " + email
        node.parentNode.parentNode.insertBefore(ele, document.getElementById("targeNode").nextSibling);
        document.querySelector(".closebtn").addEventListener("click", gone)
    }

        function gone() {
            div = document.querySelector(".alert")
            div.parentNode.removeChild(div)
        }


        //missing a post with the new data that sends password to comfirm identity
    </script>
{% endblock %}

{% block scripts %}
    <script>
        const uuid = {{ doorbell.id }};
        const emails = [
            {% for email in doorbell.emails %}
            '{{ email }}',
            {% endfor %}
        ];
        console.debug(emails);

        function openDoor() {
            fetch('{{ url_for('open_doorbell', uuid=doorbell.id) }}', {method: 'POST'})
                .then(response => console.debug(`Doorbell opened: ${response}`))
                .catch(error => console.error(`Error opening doorbell ${uuid}: ${error}`));
        }

        function takePic(){
            /*fetch('{# { url_for('take_picture', uuid=doorbell.id) }#}', {method: 'POST'})
                .then(response => console.debug(`TODO opened: ${response}`))
                .catch(error => console.error(`TODO ${uuid}: ${error}`));*/
        }

        window.addEventListener('load', function () {
            const emailsElement = document.getElementById('alert-emails');
            if (emailsElement) {
                emailsElement.value = emails.join('\r\n');
            }

            const stream = document.getElementById('stream-view');
            if (stream) {
                stream.data = stream.getAttribute('url');
            }
        });
    </script>
{% endblock %}