{% extends 'default_e_bell.html' %}

{% set nav_title='Doorbells' %}
{% set no_bells=doorbells|length <= 0 %}

{% block e_bell_content %}
    <div class="d-flex flex-wrap justify-content-evenly">
        {% for doorbell in doorbells %}
            <div class="card card-hover card-hover-cyan m-5" onclick="redirectToDoorbell({{ doorbell.id }})">
                <img alt="Last image from stream for {{ doorbell.name }}"
                     class="figure-img img-fluid"
                     src="{{ doorbell.image }}"
                     width="320"
                     height="240"/>
                <div class="card-body">
                    <h2 class="card-title">{{ doorbell.name }}</h2>
                    <p class="card-text">Current State:</p>
                    <h3 class="card-subtitle text-muted">{{ doorbell.state }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const elements = {}
        {% for doorbell in doorbells %}
        elements[{{ doorbell.id }}] = "{{ url_for('doorbell', uuid=doorbell.id) }}";
        {% endfor %}
        function redirectToDoorbell(uuid) {
            location.href = elements[uuid];
        }
    </script>
{% endblock %}