{% extends 'default_auth.html' %}

{% block auth_content %}
    <div class="pb-5">
        <h4>New to E-Bells?</h4>
        <h6 class="mb-0 text-secondary">Signing up only takes a few steps</h6>
    </div>
    <form action="{{ url_for('register', page_to_redirect=page_to_redirect
    ) }}" method="POST">
        <div class="mb-2">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input autocomplete="username" class="form-control form-control-lg" placeholder="Username" name="username"
                   type="text">
        </div>
        <div class="mb-2">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input autocomplete="email" class="form-control form-control-lg" placeholder="Email" name="email"
                   type="email">
        </div>
        <div class="mb-4">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input autocomplete="new-password" class="form-control form-control-lg" placeholder="Password"
                   name="password" type="password">
        </div>
        <button class="btn btn-info btn-lg w-100" type="submit">
            SIGN UP
        </button>
        <div class="fw-light mt-3 text-center">
            Already have an account?
            <a href="{{ url_for('login') }}" class="text-primary">
                Login
            </a>
        </div>
    </form>
{% endblock %}