{% extends 'default_auth.html' %}

{% block auth_content %}
    <h4>New to E-Bells?</h4>
    <h6 class="text-secondary">Signing up only takes a few steps</h6>
    <form action="{{ url_for('register') }}" class="pt-4" method="POST">
        <div class="mb-2">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input class="form-control form-control-lg" placeholder="Username" name="username" type="text">
        </div>
        <div class="mb-2">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input class="form-control form-control-lg" placeholder="Email" name="email" type="email">
        </div>
        <div class="mb-4">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input class="form-control form-control-lg" placeholder="Password" name="password" type="password">
        </div>
        <!--
        <div class="form-check">
            <input class="form-check-input ml-0" id="agree_terms" name="agree_terms" type="checkbox">
            <label class="form-check-label text-muted" for="agree_terms">
                I agree to all Terms & Conditions
            </label>
        </div>
        -->
        <button class="btn btn-info btn-lg mt-2 w-100" type="submit">
            SIGN UP
        </button>
        <div class="text-center mt-4 fw-light">
            Already have an account?
            <a href="{{ url_for('login') }}" class="text-primary">
                Login
            </a>
        </div>
    </form>
{% endblock %}