{% extends 'default_e_bell.html' %}

{% set title='All streams' %}
{% set nav_title='Streams from all doorbells' %}
{% set no_bells=doorbells|length <= 0 %}

{% block e_bell_content %}
    <div class="d-flex flex-wrap justify-content-evenly">
        {% for doorbell in doorbells %}
            <div class="m-5">
                <figure class="figure">
                    <object
                            width="320"
                            height="240"
                            class="figure-img img-fluid rounded"
                            data="{{ doorbell.image }}"
                            {% if doorbell.online == True %}
                            name="stream-view"
                            url="{{ url_for('stream', uuid=doorbell.id) }}"
                            {% endif %}
                            type="image/jpeg">
                    </object>
                    <figcaption class="figure-caption text-center">{{ doorbell.name }}</figcaption>
                    <figcaption class="figure-caption text-center">{{ doorbell.state }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        window.addEventListener('load', function () {
            const streams = document.getElementsByName('stream-view');
            streams.forEach(stream => stream.data = stream.getAttribute('url'));
        });
    </script>
{% endblock %}