{% extends 'default_e_bell.html' %}

{% set nav_title='Alerts' %}
{% set have_content=alerts|length > 0 %}
{% set nothing_message='You don\'t have any alerts.' %}
{% set enable_mark_read = [] %}

{% block e_bell_content %}
    <div class="d-flex flex-wrap justify-content-evenly" id="alerts-container">
        {% for alert in alerts %}
            <div class="card card-hover {% if alert.type == 1 or alert.type == 2 %}card-announcement-width{% else %}w-auto{% endif %} m-2 text-white {% if alert.type == 1 %} card-hover-grey{% elif alert.type == 2 %} card-hover-green{% elif alert.type == 3 %} card-hover-purple{% else %} card-hover-red{% endif %}"
                 id="alert-{{ alert.id }}"
                 onclick="openPopup('{{ alert.message }}', getTimeString('{{ alert.time }}'),{% if alert.mimetype == 'video/webm' %}'{{ url_for('get-resource', filename=alert.filename) }}',{% elif alert.type == 1 or alert.type == 2 %}'{{ url_for('static', filename='announcement.png') }}',{% else %}'{{ url_for('get-resource', filename=alert.filename) }}',{% endif %}'{{ alert.mimetype }}');">
                {% if not alert.checked %}
                    {% do enable_mark_read.append(1) %}
                    <img alt="Alert not checked icon"
                         class="position-absolute top-0 end-0 z-index-1"
                         data-check="true"
                         src="{{ url_for('static', filename='alert.png') }}"
                         width="50"
                         height="50">
                {% endif %}
            {{ alert.mimetype }}
                {% if alert.mimetype == 'video/webm' %}
                    <video class="card-image-recenter"
                           controls
                           src="{{ url_for('get-resource', filename=alert.filename) }}"
                           type="{{ alert.mimetype }}"
                           width="240"
                           height="320">
                    </video>
                {% else %}
                    <img alt="Alert image {{ alert.filename }}"
                         class="card-image-recenter"
                            {% if alert.type == 1 or alert.type == 2 %}
                         src="{{ url_for('static', filename='announcement.png') }}"
                         width="320"
                         height="240"
                            {% else %}
                         src="{{ url_for('get-resource', filename=alert.filename) }}"
                         width="240"
                         height="320"
                            {% endif %}
                         type="{{ alert.mimetype }}">
                {% endif %}
                <div class="card-body text-center w-100">
                    <!--
                        1 - System
                        2 - NewBell
                        3 - Bell
                        4 - Movement
                    -->
                    <h2 class="card-title text-wrap">{{ alert.message }}</h2>
                    <!--suppress HtmlUnknownAttribute -->
                    <h4 class="card-subtitle" name="alert-time-to-process">{{ alert.time }}</h4>
                    {% if alert.notes %}
                        <p class="card-text text-muted">{{ alert.notes }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="justify-content-end mt-3 me-2"
         id="mark-read-container"
            {% if enable_mark_read %}
         style="display: flex;"
            {% else %}
         style="display: none;"
            {% endif %}>
        <button class="btn btn-primary" onclick="markAlertsChecked()">Mark all as Read</button>
    </div>
    <div class="modal" id="request-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="request-modal-title">Doorbell action</h5>
                </div>
                <div class="modal-body">
                    <p class="text-center" id="request-modal-subtitle">Modal body text goes here.</p>
                    <div class="text-center" id="modal-body-container">
                        <img alt="Bigger image selected by user"
                             class="img-fluid"
                             id="request-modal-image"
                             width="360"
                             height="480"
                             src="">
                        <video
                                class="img-fluid"
                                controls
                                id="request-modal-video"
                                width="360"
                                height="480"></video>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!--suppress JSUnresolvedVariable, JSUnresolvedFunction -->
    <script>
        //Modal
        const requestModal = new bootstrap.Modal(document.getElementById('request-modal'));
        const requestModalTitle = document.getElementById('request-modal-title');
        const requestModalSubtitle = document.getElementById('request-modal-subtitle');
        const requestModalBodyContainer = document.getElementById('modal-body-container');
        const requestModalImage = document.getElementById('request-modal-image');
        const requestModalVideo = document.getElementById('request-modal-video');

        function openPopup(title, subtitle, src, type) {
            requestModalTitle.innerText = title;
            requestModalSubtitle.innerText = subtitle;
            while (requestModalBodyContainer.lastElementChild) {
                requestModalBodyContainer.removeChild(requestModalBodyContainer.lastElementChild);
            }

            if (type === 'video/webm') {
                requestModalVideo.src = src;
                requestModalBodyContainer.appendChild(requestModalVideo);
            } else {
                requestModalImage.src = src;
                requestModalBodyContainer.appendChild(requestModalImage);
            }
            requestModal.show();
        }
    </script>
    <!--suppress JSUnresolvedVariable -->
    <script>
        //Alerts
        const checkedAlerts = {};
        const uncheckedAlerts = {};
        {% for alert in alerts %}
            {% if alert.checked %}
                checkedAlerts[{{ alert.id }}] = document.getElementById('alert-{{ alert.id }}');
            {% else %}
                uncheckedAlerts[{{ alert.id }}] = document.getElementById('alert-{{ alert.id }}');
            {% endif %}
        {% endfor %}

        const alertsContainer = document.getElementById('alerts-container');
        const baseResourceUrl = '{{ url_for('get-resource', filename='filename') }}';

        function createAlertContainer(alert) {
            let fileContainer;
            if (alert.mimeType === 'video/webm') {
                fileContainer = document.createElement('video');
                fileContainer.controls = true;
                setTimeout(() => {
                    fileContainer.src = baseResourceUrl.replace('filename', alert.filename);
                }, 5500);
            } else {
                fileContainer = document.createElement('img');
                fileContainer.alt = `Alert image ${alert.filename}`;
                if (alert.type === 1 || alert.type === 2) {
                    fileContainer.src = '{{ url_for('static', filename='announcement.png') }}';
                } else {
                    fileContainer.src = baseResourceUrl.replace('filename', alert.filename);
                }
            }
            fileContainer.className = 'card-image-recenter';
            fileContainer.type = alert.mimeType;
            fileContainer.width = 240;
            fileContainer.height = 320;

            const infoContainer = document.createElement('div');
            infoContainer.className = 'card-body text-center';

            const titleText = document.createElement('h2');
            titleText.className = 'card-title text-wrap';
            titleText.innerText = alert.message;

            const subtitleText = document.createElement('h4');
            subtitleText.className = 'card-subtitle';
            subtitleText.innerText = getTimeString(alert.time);

            infoContainer.appendChild(titleText);
            infoContainer.appendChild(subtitleText);
            if (alert.notes) {
                const notesContainer = document.createElement('p');
                notesContainer.className = 'card-text text-muted';
                notesContainer.innerText = alert.notes;
                infoContainer.appendChild(notesContainer);
            }

            let alertColor;
            switch (alert.type) {
                case 2:
                    alertColor = 'card-hover-green';
                    break;
                case 3:
                    alertColor = 'card-hover-purple';
                    break;
                case 4:
                    alertColor = 'card-hover-red';
                    break;

                default:
                    alertColor = 'card-hover-grey';
                    break;
            }

            const alertContainer = document.createElement('div');
            alertContainer.className = 'card card-hover card-width m-2 text-white';
            alertContainer.classList.add(alertColor);
            alertContainer.id = `alert-${alert.id}`;
            alertContainer.onclick = () => openPopup(alert.message, subtitleText.innerText, fileContainer.src, alert.mimeType);

            if (!alert.checked) {
                const uncheckImg = document.createElement('img');
                uncheckImg.alt = 'Alert not checked icon';
                uncheckImg.className = 'position-absolute top-0 end-0';
                uncheckImg.setAttribute('data-check', 'true');
                uncheckImg.src = '{{ url_for('static', filename='alert.png') }}';
                uncheckImg.width = 50;
                uncheckImg.height = 50;
                alertContainer.appendChild(uncheckImg);
            }

            alertContainer.appendChild(fileContainer);
            alertContainer.appendChild(infoContainer);

            alertsContainer.insertBefore(alertContainer, alertsContainer.firstChild);
            return alertContainer;
        }

        function editAlertContainer(alert, alertContainer) {
            const img = alertContainer.getElementsByTagName('img')[0];
            if (!img.hasAttribute('data-check')) {
                return;
            }

            alertContainer.removeChild(img);
        }

        const baseNewAlertsUrl = '{{ url_for('get-new-alerts', current_alert_id='-1') }}';
        const markReadContainer = document.getElementById('mark-read-container');
        let firstUncheckedAlertId = 0;
        let lastAlertId = {{ last_alert_id }};

        function getNewAlerts() {
            fetch(baseNewAlertsUrl.replace('-1', firstUncheckedAlertId))
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error getting alerts: ${data.error}`);
                        return;
                    }

                    let firstUnchecked = -1;
                    data.alerts.forEach((alert) => {
                        if (alert.id in checkedAlerts) {
                            return;
                        }

                        if (alert.checked) {
                            if (alert.id in uncheckedAlerts) {
                                const alertElement = uncheckedAlerts[alert.id];
                                delete uncheckedAlerts[alert.id];
                                editAlertContainer(alert, alertElement);
                                checkedAlerts[alert.id] = alertElement;
                            } else {
                                checkedAlerts[alert.id] = createAlertContainer(alert);
                            }
                        } else {
                            if (firstUnchecked === -1) {
                                firstUnchecked = alert.id - 1;
                            }

                            if (!(alert.id in uncheckedAlerts)) {
                                uncheckedAlerts[alert.id] = createAlertContainer(alert);
                            }
                        }
                    });

                    if (Object.keys(uncheckedAlerts).length > 0) {
                        markReadContainer.style.display = 'flex';
                    } else {
                        markReadContainer.style.display = 'none';
                    }

                    if (firstUnchecked !== -1) {
                        firstUncheckedAlertId = firstUnchecked;
                    }
                    lastAlertId = data.lastAlertId;
                })
                .catch(error => console.error(`Error calling get-new-alerts: ${error}`));
        }

        const alertTimeToUpdate = document.getElementsByName('alert-time-to-process');
        document.addEventListener('refresh', () => getNewAlerts());
        window.addEventListener('load', () => {
            alertTimeToUpdate.forEach(element => element.innerText = getTimeString(element.innerText));
            setInterval(getNewAlerts, 5000);
        });
    </script>
    <script>
        //Mark alerts
        function markAlertsChecked() {
            if (Object.keys(uncheckedAlerts).length === 0 || lastAlertId === 0) {
                alert('There is no alerts to mark as checked.');
                return;
            }

            const formAlertId = new FormData();
            formAlertId.append('last-alert-id', lastAlertId);
            fetch('{{ url_for('alerts') }}', {
                body: formAlertId,
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error while marking alerts: ${data.error}`);
                        alert(`Error while marking alerts. ${data.error}`);
                        return;
                    }

                    //Maybe add message to user
                    document.dispatchEvent(new Event('refresh'))
                })
                .catch(error => {
                    console.error(`Error while marking alerts: ${error}`);
                    alert(`Error while marking alerts. ${error}`);
                });
        }
    </script>
{% endblock %}