{% if not name %}
    {% set name = self._TemplateReference__context.name|replace('.html', '')|capitalize %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8' content='width=device-width, initial-scale=1' name='viewport'>
    <!-- met content shrink-to-fit=no -->
    <title>{{ name }}</title>

    <link href='{{ url_for('static', filename='favicon.png') }}' rel='icon'>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" >
    <link href='{{ url_for('static', filename='style.css') }}' rel='stylesheet'>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
        <link rel="stylesheet" href="static/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
    -->
</head>
<body {% if body_class %} class='{{ body_class }}' {% endif %}>
<div class="container-scroller">
    {% block main_nav %}{% endblock %}
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper align-items-center auth">
            {% for category, message in get_flashed_messages(true) %}
                <div class="d-flex justify-content-center top-0">
                    <div class="alert-{{ category }} alert-dismissible alert fade position-absolute show z-index-1" role="alert">
                        {{ message }}
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script crossorigin="anonymous" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>