{% extends 'default_auth.html' %}

{% block auth_content %}
    <h4>Hello! let's get started</h4>
    <h6 class="text-secondary">Sign in to continue.</h6>
    <form action="{{ url_for('login') }}" class="pt-4" method="POST">
        <div class="mb-2">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input class="form-control form-control-lg" placeholder="Username" name="username" type="text">
        </div>
        <div class="mb-4">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input class="form-control form-control-lg" placeholder="Password" name="password" type="password">
        </div>
        <div class="my-2 d-flex justify-content-between text-nowrap">
            <div class="form-check">
                <input class="form-check-input ml-0" id="keep_sign" name="keep_sign" type="checkbox" checked>
                <label class="form-check-label text-muted" for="keep_sign">
                    Keep me signed in
                </label>
            </div>
            <a class="ms-4 text-black" href="#">Forgot password?</a>
            <!-- todo -->
        </div>
        <button class="btn btn-info btn-lg w-100" type="submit">
            SIGN IN
        </button>
        <div class="text-center mt-4 fw-light">
            Don't have an account?
            <a href="{{ url_for('register') }}" class="text-primary">
                Create
            </a>
        </div>
    </form>
{% endblock %}