{% extends 'default.html' %}

{% set name = 'Home' %}

{% block header %}
    <h1>Select a Doorbell</h1>
{% endblock %}

{% block content %}
    <div id='center'>
        {% for key, value in doorbells.items() %}
            <a href='{{ url_for('live', esp_id=key) }}' title='Redirect to live page for {{ key }}'>
                <button onclick='selectDoorBell()'>
                    <img alt='Select doorbell {{ key }}' class='smallImage'
                         src='{{ url_for('static', filename='doorbell.png') }}'/>
                    {{ value.name }}
                </button>
            </a>
        {% endfor %}
        <a href='{{ url_for('add_esp') }}' title='add'>
            <img class='btnImage' src='{{ url_for('static', filename='add.png') }}'>
        </a>
        <script>
            function selectDoorBell(ip) {
                const xhr = new XMLHttpRequest();
                const fd = new FormData();
                //console.log(ip)
                fd.append('esp', ip);

                //XHR.addEventListener( 'load', function( event ) {
                //alert( 'Yeah! Data sent and response loaded.' );
                //} );

                // Define what happens in case of error
                xhr.addEventListener('error', function () {
                    alert('Oops! Something went wrong.');
                });

                // Set up our request
                const host = `${window.location.protocol}//${window.location.host}`;
                xhr.open('POST', `${host}/esp32cam/postIP`);

                // Send our FormData object; HTTP headers are set automatically
                xhr.send(fd);
            }
        </script>
    </div>
{% endblock %}