{% extends 'default.html' %}

{% set name = self._TemplateReference__context.name|replace('.html', '')|capitalize %}

{% block header %}
    <h1>Add a Doorbell</h1>
{% endblock %}

{% block content %}
    <!---  <div class='topNav'>
        <a href='{{ url_for('selection') }}' title='Selection'>
            <img alt='' class='btnImage' src='{{ url_for('static', filename='back.png') }}'/>
        </a>
    </div> -->
    <h3 id='center'>
        <label for='name'>
            Doorbell's name:
        </label>
        <br>
        <input type='text' id='name' name='name'>
        <br>
        <label for='ip'>
            IP address:
        </label>
        <br>
        <input type='text' id='ip' name='ip'>
        <br>
        <br>
        <button onclick='addDoorBell()' class='smallImage'> Submit</button>
        <script>
            function addDoorBell() {
                //document.ajax({type: 'POST', url: '/postESP', dataType: 'json'})
                const xhr = new XMLHttpRequest();
                const fd = new FormData();

                if (!ValidateIPaddress(document.getElementById('ip').value)) {
                    return
                }
                fd.append('name', document.getElementById('name').value);
                fd.append('ip', document.getElementById('ip').value);
                //XHR.addEventListener( 'load', function( event ) {
                //alert( 'Yeah! Data sent and response loaded.' );
                //} );

                // Define what happens in case of error
                xhr.addEventListener('error', function () {
                    alert('Oops! Something went wrong.');
                });

                // Set up our request
                xhr.open('POST', 'http://127.0.0.1:5000/postESP');

                // Send our FormData object; HTTP headers are set automatically
                xhr.send(fd);
            }

            function ValidateIPaddress(ipaddress) {

                if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {
                    return (true)
                }
                alert('You have entered an invalid IP address! ' + ipaddress);
                return false
            }
        </script>
    </h3>
{% endblock %}
