{% extends 'default.html' %}

{% set name = 'Home' %}

{% block header %}
    <h1>Select a Doorbell</h1>
{% endblock %}

{% block content %}
    <div id='center'>
        {% for doorbell in doorbellList %}
            <button onclick='selectDoorBell(value)' value='{{ doorbell[1] }}'>
                <img alt='{{ doorbell }}' class='smallImage' src='{{ url_for('static', filename='doorbell.png') }}'/>
                {{ doorbell[0] }}
            </button>
        {% endfor %}
        <a href='{{ url_for('add') }}' title='add'>
            <img alt='' class='btnImage' src='{{ url_for('static', filename='add.png') }}'>
        </a>
        <!--
        <button onclick='selectDoorBell('192.168.137.87')'>
            <img id='small1' class='smallImage' src='/esp32static/esp.png'/>
            192.168.137.87
        </button>
        -->
        <script>
            function selectDoorBell(ip) {
                const xhr = new XMLHttpRequest();
                const fd = new FormData();
                //console.log(ip)
                fd.append('esp', ip);

                //XHR.addEventListener( 'load', function( event ) {
                //alert( 'Yeah! Data sent and response loaded.' );
                //} );

                // Define what happens in case of error
                xhr.addEventListener('error', function () {
                    alert('Oops! Something went wrong.');
                });

                // Set up our request
                const host =  `${window.location.protocol}//${window.location.host}`;
                xhr.open('POST', `${host}/esp32cam/postIP`);

                // Send our FormData object; HTTP headers are set automatically
                xhr.send(fd);
            }
        </script>
    </div>
{% endblock %}