<!DOCTYPE html>
<html>
        <head>
                <title>Most Recent Images</title>
                <link rel="stylesheet" href="/static/style.css" />
        </head>
        <body>
            <p class="aligncenter">
                <img src="static/biden.jpg" />
            </p>           
            <h1>Other Images</h1>
            <h3>
                <img src="static/pfp1.jpg" />
                <img src="static/pfp1.jpg" />
                <img src="static/pfp1.jpg" />
            </h3>
            <div class="video">
                <a href="{{ url_for('main') }}">Return To Homepage</a>
            </div>
            
                
        </body>