<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Days</th>
      <th>Photos</th>
      <th>Day's Averege</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Monday</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Tuesday</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Wednesday</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Thursday</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Friday</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Saturday</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Sunday</td>
      <td>9</td>
      <td>1</td>
    </tr>
  </tbody>
</table></body><a href="{{ url_for('main') }}">Return To Homepage</a>