body {
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}


h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 2px black;
}

h2 {
    position: absolute;
    bottom: 0;
}

h3 {
    left: 0;
}

.topNav {
    margin-top: -10px;
    padding: 10px;
    background-color: #93c1f7;
    overflow: hidden;
}

.video {
    display: block;
    overflow: hidden;
    transform: translateZ(0px);
    margin: 0 auto;
    text-align: center;
}


.alignCenter {
    text-align: center;
}

.background {
    background-position: 47% 40%;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url("suitFinal.png");
}

.image {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.smallImage {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.btnImage {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


#bottom {
    vertical-align: bottom;
}

#left {
    text-align: left;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}