body {
    overflow-x: hidden;
}

.auth-width {
    width: 400px;
}

.icon-small {
    font-size: 1.5em;
}

.start-85 {
    left: 85% !important
}

.w-35 {
    width: 35% !important;
}

.doorbell-detail-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 460px;
}

.doorbell-detail-title {
    background-color: #70707067;
}

.doorbell-detail-stream {
    width: 460px;
    height: 345px;
}

.btn-cyan {
    color: #fff;
    background-color: #41ccd6;
    border-color: #41ccd6;
}

.btn-green {
    color: #fff;
    background-color: #47ad44;
    border-color: #47ad44;
}

.btn-red {
    color: #fff;
    background-color: #b33636;
    border-color: #b33636;
}

.btn-violet {
    color: #fff;
    background-color: #de4eeb;
    border-color: #de4eeb;
}


.card-hover:active, .card-hover:hover {
    transform: scale(1.1);
}

.card-hover-cyan:hover, .card-hover-purple:hover, .card-hover-red:hover, .card-hover-grey:hover, .card-hover-green:hover {
    background-color: rgb(140, 235, 230);
}

.card-hover-purple {
    background-color: rgba(174, 0, 255, 0.575);
    width: 320px;
}

.card-hover-red {
    background-color: rgba(255, 0, 43, 0.603);
    width: 320px;
}

.card-hover-grey {
    background-color: rgb(112, 112, 112);
    width: 320px;
}

.card-hover-green {
    background-color: rgb(27, 172, 47);
    width: 320px;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}


.image-container .image {
    border: 10px solid rgb(218, 215, 215);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.pic:hover img {
    transform: scale(1.1)
}

.pic:hover video {
    transform: scale(1.1)
}

.popup-pic {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 9001;
    display: none;
}

.popup-pic span {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
}

.popup-pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

.popup-pic video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .popup.pic img {
        width: 95%
    }
}


.center-green {
    align-items: center;
    color: rgb(89, 230, 107);
}

.titleContainer {
    padding-top: 2%;
    padding-bottom: 2%;
}

/*.card {
    width: 300px;
    height: 180px;
}*/

.Box {
    max-width: 650px;
    position: relative;
    display: block;
    background-color: #fff;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;

    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 600px;
    max-width: 100%;
}

.form-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;

    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 600px;
    max-width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

/* The alert message box */
.alert {
    padding: 5px;
    flex: 1;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: rgb(12, 12, 12);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: rgba(203, 216, 17, 0.89);
}

/**/
.mark-btn {
    display: inline-block;
    background-color: #4338d8ce;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

.vertical-center {
    margin-top: 5px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.boxy {
    height: 150px;
    position: relative;
    margin-top: 10px;
}

.btn-clic:active {
    background-color: #1406d6ce;
}