body {
    overflow-x: hidden;
}

.auth-width {
    width: 400px;
}

.icon-small {
    font-size: 1.5em;
}

.doorbell-detail-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 460px;
}

.doorbell-detail-title {
    background-color: rgba(112, 112, 112, 0.4);
}

.btn-cyan {
    color: rgb(255, 255, 255);
    background-color: rgb(65, 204, 214);
    border-color: rgb(65, 204, 214);
}

.btn-green {
    color: rgb(255, 255, 255);
    background-color: rgb(71, 173, 68);
    border-color: rgb(71, 173, 68);
}

.btn-red {
    color: rgb(255, 255, 255);
    background-color: rgb(179, 54, 54);
    border-color: rgb(179, 54, 54);
}

.btn-violet {
    color: rgb(255, 255, 255);
    background-color: rgb(222, 78, 235);
    border-color: rgb(222, 78, 235);
}


.card-hover:active, .card-hover:hover {
    transform: scale(1.1);
}

.card-hover-cyan:hover, .card-hover-purple:hover, .card-hover-red:hover, .card-hover-grey:hover, .card-hover-green:hover {
    background-color: rgb(140, 235, 230);
}

.card-hover-purple {
    background-color: rgba(174, 0, 255, 0.575);
}

.card-hover-red {
    background-color: rgba(255, 0, 43, 0.603);
}

.card-hover-grey {
    background-color: rgb(112, 112, 112);
}

.card-hover-green {
    background-color: rgb(27, 172, 47);
}

.card-width {
    width: 348px;
}

.card-image-recenter {
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
}

.image-container .image {
    border: 10px solid rgb(218, 215, 215);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.pic:hover img {
    transform: scale(1.1);
}

.pic:hover video {
    transform: scale(1.1);
}

.popup-pic {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 9001;
    display: none;
}

.popup-pic span {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
}

.popup-pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

.popup-pic video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

.popup-pic div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 750px;
    height: 450px;
    object-fit: cover;
    text-align: center;
}

@media (max-width: 768px) {
    .popup.pic img {
        width: 95%;
    }
}


.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid rgb(240, 240, 240);
    border-radius: 4px;

    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 600px;
    max-width: 100%;
}

.form-control textarea {
    border: 2px solid rgb(240, 240, 240);
    border-radius: 4px;

    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 600px;
    max-width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: rgb(119, 119, 119);
}

.form-control.success input {
    border-color: rgb(46, 204, 113);
}

.form-control.error input {
    border-color: rgb(231, 76, 60);
}

.alert {
    padding: 5px;
    flex: 1;
}

.mark-btn {
    display: inline-block;
    background-color: rgba(67, 56, 216, 0.81);
    border-radius: 10px;
    border: 4px double rgb(204, 204, 204);
    color: rgb(238, 238, 238);
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

.vertical-center {
    margin-top: 5px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.boxy {
    height: 150px;
    position: relative;
    margin-top: 10px;
}