header {
    min-width: 620px
}

.auto-width {
    min-width: 450px;
}

.img-sm {
    width: 50px;
    height: 50px;
}

.navbar {
    height: 85px
}

.sidebar-width {
    min-width: 200px
}

.start-85 {
    left: 85% !important
}

.w-35 {
    width: 35% !important;
}

.doorbell {
    overflow-x: hidden;
    overflow-y: auto;
}

.doorbell-detail-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 460px;
}

.doorbell-detail-title {
    background-color: #70707067;
}

.doorbell-detail-stream {
    width: 460px;
    height: 345px;
}

.btn-cyan {
    --bs-btn-color: #fff;
    --bs-btn-bg: #41ccd6 !important;
    --bs-btn-border-color: #41ccd6 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #41ccd6 !important;
    --bs-btn-hover-border-color: #41ccd6 !important;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #41ccd6 !important;
    --bs-btn-active-border-color: #41ccd6 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #41ccd6 !important;
    --bs-btn-disabled-border-color: #41ccd6 !important;
}

.btn-green {
    --bs-btn-color: #fff;
    --bs-btn-bg: #47ad44 !important;
    --bs-btn-border-color: #47ad44 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #47ad44 !important;
    --bs-btn-hover-border-color: #47ad44 !important;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #47ad44 !important;
    --bs-btn-active-border-color: #47ad44 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #47ad44 !important;
    --bs-btn-disabled-border-color: #47ad44 !important;
}

.btn-red {
    --bs-btn-color: #fff;
    --bs-btn-bg: #b33636 !important;
    --bs-btn-border-color: #b33636 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b33636 !important;
    --bs-btn-hover-border-color: #b33636 !important;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b33636 !important;
    --bs-btn-active-border-color: #b33636 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b33636 !important;
    --bs-btn-disabled-border-color: #b33636 !important;
}

.btn-violet {
    --bs-btn-color: #fff;
    --bs-btn-bg: #de4eeb !important;
    --bs-btn-border-color: #de4eeb !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #de4eeb !important;
    --bs-btn-hover-border-color: #de4eeb !important;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #de4eeb !important;
    --bs-btn-active-border-color: #de4eeb !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #de4eeb !important;
    --bs-btn-disabled-border-color: #de4eeb !important;
}

.card-hover:active, .card-hover:hover {
    transform: scale(1.1);
}

.card-hover-cyan:hover {
    background-color: rgb(140, 235, 230);
}

.card-hover-purple {
    background-color: rgba(174, 0, 255, 0.575);
}

.card-hover-red {
    background-color: rgba(255, 0, 43, 0.603);
}

.card-hover-grey {
    background-color: rgb(112, 112, 112);
}




.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}


.image-container .image {
    border: 10px solid rgb(218, 215, 215);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.pic:hover img {
    transform: scale(1.1)
}

.pic:hover video {
    transform: scale(1.1)
}

.popup-pic {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 9001;
    display: none;
}

.popup-pic span {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
}

.popup-pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

.popup-pic video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .popup.pic img {
        width: 95%
    }
}



.center-green {
    align-items: center;
    color: rgb(89, 230, 107);
}

.titleContainer {
    padding-top: 2%;
    padding-bottom: 2%;
}

/*.card {
    width: 300px;
    height: 180px;
}*/

.Box {
    max-width: 650px;
    position: relative;
    display: block;
    background-color: #fff;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;

    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 600px;
    max-width: 100%;
}

.form-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;

    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 600px;
    max-width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

/* The alert message box */
 .alert {
    padding: 5px;
    flex: 1;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: rgb(12, 12, 12);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: rgba(203, 216, 17, 0.89);
  } 

/**/
.mark-btn{
    display: inline-block;
    background-color: #3dd838ce;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}
