{% extends 'default.html' %}

{% set nav_title = nav_title or 'Missing Nav Title' %}

{% block main_nav %}
    <nav class="navbar navbar-dark align-items-start bg-dark sidebar sidebar-dark sidebar-width accordion p-0">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand my-2 mx-0"
               href="{{ url_for('index') }}">
                <div class="sidebar-brand-icon">
                    <img
                            width="38"
                            height="64"
                            alt="E-Bell logo"
                            src="{{ url_for('static', filename='logo.png') }}">
                </div>
                <div class="display-6 sidebar-brand-text mx-3">
                    <span>E-Bell</span>
                </div>
            </a>
            <hr class="sidebar-divider my-3">
            <ul class="nav-pills navbar-nav list-group list-group-flush text-light" id="accordionSidebar">
                {% for nv in nav %}
                    <li class="bg-dark border-white list-group-item nav-item p-0">
                        <a class="nav-link {% if nv.id|lower == name|lower %}active disabled {% endif %}m-2 p-2 text-center"
                           href="{{ url_for(nv.url) }}">
                            <i class="bi {{ nv.icon }}"></i>
                            <span>{{ nv.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="bg-dark navbar navbar-dark navbar-expand mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-dark d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
                        <i class="bi bi-list"></i>
                    </button>
                    <ul class="navbar-nav flex-nowrap ms-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link"
                                   aria-expanded="false" data-bs-toggle="dropdown"
                                   href="{{ url_for('alerts') }}">
                                    <span class="badge bg-danger badge-counter"
                                          id="alerts-count">0</span>
                                    <i class="bi bi-bell-fill icon-small"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end dropdown-list animated--grow-in"
                                     id="alerts-count-dropdown">
                                    <a class="border-dark dropdown-item small text-center"
                                       href="{{ url_for('alerts') }}">Show All Alerts</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                                   href="#">
                                    <span class="d-none d-lg-inline me-2 small">{{ session.name }}</span>
                                    <img alt="Profile picture for {{ session.name }}"
                                         class="border rounded-circle img-profile"
                                         src="{{ url_for('static', filename='default_profile.png') }}">
                                </a>
                                <div class="border-dark dropdown-menu dropdown-menu-dark shadow dropdown-menu-end animated--grow-in">
                                    <a class="dropdown-item" href="{{ url_for('logout') }}">
                                        <i class="bi bi-box-arrow-right me-2"></i>&nbsp;Logout
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container container-fluid h-auto">
                {% block e_bell_content %}{% endblock %}
                {% if have_content == False %}
                    <h1 class="p-5 text-center" id="nothing-to-show">{{ nothing_message or 'Nothing to show.' }}</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block template_scripts %}
    <script src='{{ url_for('static', filename='moment.js') }}'></script>
    <!--suppress JSUnresolvedVariable -->
    <script>
        //Time
        function getTimeString(time) {
            return moment(time).format('LLL')
        }
    </script>
    <!--suppress JSUnresolvedVariable -->
    <script>
        //Alerts notification
        const alertsDropdownContainer = document.getElementById('alerts-count-dropdown');

        function createAlertDropdown(alert) {
            const spanMsg = document.createElement('span');
            spanMsg.className = 'small';
            spanMsg.innerText = getTimeString(alert.time);

            const pMsg = document.createElement('p');
            pMsg.innerText = alert.message;

            const msgDiv = document.createElement('div');
            msgDiv.appendChild(spanMsg);
            msgDiv.appendChild(pMsg);

            const mainContainer = document.createElement('a');
            mainContainer.className = 'border-dark dropdown-item d-flex align-items-center';
            mainContainer.href = '{{ url_for('alerts') }}';
            mainContainer.id = alert.id;
            mainContainer.appendChild(msgDiv);

            alertsDropdownContainer.insertBefore(mainContainer, alertsDropdownContainer.firstChild);
            return mainContainer;
        }

        const alertsCount = document.getElementById('alerts-count');
        const alerts = {};

        function getAlerts() {
            fetch('{{ url_for('get-unchecked-alerts') }}')
                .then(response => response.json())
                .then(data => {
                    if (!data || data.error) {
                        console.error(`Error getting alerts: ${data.error}`);
                        return;
                    }

                    for (const alert in alerts) {
                        if (data.alerts.find(a => a.id = alert)) {
                            continue;
                        }

                        const alertNode = alerts[alert];
                        delete alerts[alert];
                        alertNode.remove();
                    }

                    data.alerts.forEach((alert) => {
                        if (alert.id in alerts) {
                            return;
                        }

                        alerts[alert.id] = createAlertDropdown(alert);
                    });

                    alertsCount.innerText = data.alerts.length;
                })
                .catch(error => console.error(`Error calling get-new-alerts: ${error}`));
        }

        document.addEventListener('refresh', () => getAlerts());
        window.addEventListener('load', () => {
            getAlerts();
            setInterval(getAlerts, 5000);
        });
    </script>
{% endblock %}