.image-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding: 10px;
}

.image-container .image{
    border:10px solid rgb(218, 215, 215);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
}

.pic:hover img {
    transform: scale(1.1)
}

.popup-pic{
    position:fixed;
    top:0;left:0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 9001;
    display: none;
}

.popup-pic span{
    position: absolute;
    top:-15px; right:10px;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
}

.popup-pic img{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    border:5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

.popup-pic video{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    border:5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width:768px){
    .popup.pic img{
        width: 95%
    }
}

.card-colour:hover{
    transform: scale(1.1);
    background-color: rgb(140, 235, 230);
}

.card-colour:active{
    transform: scale(1);
}

.center-green{
    align-items: center;
    color: rgb(89, 230, 107);
}

.titleContainer{
    padding-top: 2%;
    padding-bottom: 2%;
}

.text-center{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.center{
    text-align: center;
}

.card-img{
    width: 50px;
    height: 50px;
}

.card{
    width: 300px;
    height: 180px;
}