<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <div class = "topNav"></div>
        <a href="{{ url_for('index') }}"><img class ="btnImage" src="/static/home.jpg"></a>
        <img class = "btnImage" scr="/static/camera.png">
        <a href="{{ url_for('images') }}"><img class = "btnImage" scr="/static/pfp1.jpg"></a>
        <a href="{{ url_for('stats') }}"><img class = "btnImage" scr="/static/stats.png"></a>
    </div>
<!--suppress HtmlRequiredAltAttribute -->
<img id="esp32-stream"/>
<script>
    const img = document.getElementById('stream');
    const WS_URL = 'ws:///127.0.0.1:8080';
    const ws = new WebSocket(WS_URL);
    let urlObject;
    ws.onopen = () => console.log(`Connected to ${WS_URL}`);
    ws.onmessage = message => {
        const arrayBuffer = message.data;
        if (urlObject) {
            URL.revokeObjectURL(urlObject);
        }
        urlObject = URL.createObjectURL(new Blob([arrayBuffer]));
        img.src = urlObject;
    }
</script>
</body>
</html>