<!DOCTYPE html>
<!--suppress HtmlRequiredAltAttribute -->
<html lang="en">
<head>
    <title>Most Recent Images</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body class="background">
<div class="topNav">
    <a href="{{ url_for('index') }}"> <img class="btnImage" src="/static/home.jpg"></a>
    <a href="{{ url_for('client') }}"> <img class="btnImage" src="/static/camera.png"></a>
    <img class="btnImage" src="/static/pfp1.jpg">
    <a href="{{ url_for('stats') }}"> <img class="btnImage" src="/static/stats.png"></a>
</div>
<div class="image">
    <img id="big" src="/static/pfp1.jpg"/>
    <img id="big2" src="/static/pfp1.jpg"/>
    <div class="alignRight">
        <button id="toggle-stream"><img class="btnImage" src="/static/camera.png"/></button>
    </div>
</div>
<object type="text/html" class="img-thumbnail" data="http://192.168.137.87:81/stream" width="320" height = "240"></object>
<h1>Other Images</h1>
<h3 id="center">
    <button onclick="changeImage1()"><img id="small1" class="smallImage" src="/static/pfp2.jpg"/></button>
    <button onclick="changeImage2()"><img id="small2" class="smallImage" src="/static/pfp3.jpg"/></button>
    <button onclick="changeImage3()"><img id="small3" class="smallImage" src="/static/pfp4.jpg"/></button>

    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
          function takePicture(){
            const view = document.getElementById('big')
            view.src = `http://192.168.137.87/capture?_cb=${Date.now()}`
              const view2 = document.getElementById('big2')
            view2.src = `http://192.168.137.87:81/stream`
          }
            const streamButton = document.getElementById('toggle-stream')
          streamButton.onclick = () => {
            takePicture()
          }

        })

        currentImage = {myGlobal: "/static/pfp1.jpg"}

        function changeImage1(){
            tmp = document.getElementById('small1').src;
            document.getElementById('big').src = document.getElementById('small1').src;
            document.getElementById('small1').src = currentImage.myGlobal;
            currentImage.myGlobal = tmp;
        }

        function changeImage2() {
            tmp = document.getElementById('small2').src;
            document.getElementById('big').src = document.getElementById('small2').src;
            document.getElementById('small2').src = currentImage.myGlobal;
            currentImage.myGlobal = tmp;
        }

        function changeImage3() {
            tmp = document.getElementById('small3').src;
            document.getElementById('big').src = document.getElementById('small3').src;
            document.getElementById('small3').src = currentImage.myGlobal;
            currentImage.myGlobal = tmp;
        }

    </script>
</h3>
</body>