<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body class="background">
<div class="video">
    <iframe width="500" height="315" src="/static/Best_coocing_show.mp4" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
</div>
<h2>
    <a href="{{ url_for('about') }}">About Us</a>
    <a href="{{ url_for('client') }}">Client</a>
    <a href="{{ url_for('images') }}">Images</a>
    <a href="{{ url_for('stats') }}">Stats</a>
</h2>
</body>
