<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body class="background">
<div class="topNav">
    <a href="{{ url_for('selection') }}"></a>
        <img alt="" class="btnImage" src="/static/home.jpg">
    </a>
    <img alt="" class="btnImage" src="/static/esp.png">
    <a href="{{ url_for('images') }}">
        <img alt="" class="btnImage" src="/static/camera.png">
    </a>
    <a href="{{ url_for('stats') }}">
        <img alt="" class="btnImage" src="/static/stats.png">
    </a>
</div>
<div>
    <div class = "image">
        <img id="big" src="/static/pfp1.jpg"/>  
        <button id="toggle-stream"><img class= alignPfp src="/static/esp.png"/></button>    
    </div> 

</div>
 

<script>

    document.addEventListener('DOMContentLoaded', function (event) {
        function takePicture(){
            const view = document.getElementById('big')
            view.src = `http://192.168.137.87:81/stream`
        }
        const streamButton = document.getElementById('toggle-stream')
        streamButton.onclick = () => {
            takePicture()
        }

        })

</script>
</body>
